#about-us {
  padding: 50px;
}

div#wrap {
  width: 100%;
  margin: 100px auto;
}

div#border {
  border: 1px solid black;
  height: auto;
  width: 700px;
  margin: 100px auto;
  padding-bottom: 40px;
}

div#title {
  background-color: white;
  width: 350px;
  height: 100px;
  margin: auto;
  margin-top: -40px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;

}

h3 {
  text-align: center;
  width: 100%;
  text-transform: uppercase;
}

div#para {
  background-color: white;
  width: 450px;
  margin: auto;
  text-align: center;

}

p {

}