$parallax-window-height: 70vh;
$parallax-background-height: $parallax-window-height * 2;

.parallax-window {
  max-height: $parallax-window-height;
  overflow: hidden;
  position: relative;
  text-align: center;
  width: 100%;
}

.parallax-static-content {
  color: #9A9A8A;
  position: relative;
  z-index: 9;
}

.parallax-background {
  background: url("img/services/services.png") repeat;
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: beige;
  height: $parallax-background-height;
  left: 0;
  position: absolute;
  top: - $parallax-window-height / 3;
  width: 100%;
}

#border-services {
  border: 1px solid #fff;
  border-top: none;
  height: auto;
  width: 700px;
  margin: 100px auto;
  padding: 0 auto;
  padding-bottom: 40px;
  position: relative;
}

#title-services,
#para-services {
  background-color: transparent;
}

#title-services {
  top: -20px;
  color: #fff;
  position: relative;
}

#para-services {
  background-color: transparent;
  max-width: 450px;
  text-align: center;
  color: #fff;
  margin: auto;
}

#para-services:before {
  content: "";
  height: 1px;
  width: 25%;
  position: absolute;
  left: 0;
  top: 0;
  background-color: #fff;
}

#para-services:after {
  content: "";
  height: 1px;
  width: 25%;
  position: absolute;
  right: 0;
  top: 0;
  background-color: #fff;
}


@media screen and (max-width: 768px) {

  #border-services,
  #title-services,
  #para-services {
    width: 100% !important;
  }

  #border-services {
    margin: 0;
    padding: 10px;

  }

  .parallax-static-content > #wrap {
    padding: 0 20px;
  }

  .parallax-window {
    max-height: 100vh;
  }

  #para-services:before {
    width: 5%;
  }

  #para-services:after {
    width: 5%;
  }

}