$parallax-window-height: 70vh;
$parallax-background-height: $parallax-window-height * 2;

.parallax-window {
  max-height: $parallax-window-height;
  overflow: hidden;
  position: relative;
  text-align: center;
  width: 100%;
}

.parallax-static-content {
  color: #9A9A8A;
  position: relative;
  z-index: 9;
}

.parallax-background {
  background: url("img/services/services.png") repeat;
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: beige;
  height: $parallax-background-height;
  left: 0;
  position: absolute;
  top: - $parallax-window-height / 3;
  width: 100%;
}

#border-services {
  border: 1px solid #fff;
  border-top: none;
  height: auto;
  width: 700px;
  margin: 100px auto;
  padding: 0 auto;
  padding-bottom: 40px;
}

#title-services,
#para-services {
  background-color: transparent;
}

#title-services {
  top: -40px;
  color: #fff;
}

#para-services {
  background-color: transparent;
  max-width: 450px;
  text-align: center;
  color: #fff;
  margin: auto;
}

