#-what-we-do-section {
  height: 100vh !important;
}

.what-we-do-logos {
  width: 65px;
  height: 65px;
  margin: 0;
}

#what-we-do-wrap {
  padding: 1px;
}

#what-we-do-border {
  height: 80vh;
  width: 900px;
}

#what-we-do-para {
  margin: 20px 0;
}

.what-we-do-left-column,
.what-we-do-right-column {
  text-align: center;
}
  /* Column Classes
      Link: http://twitter.github.io/bootstrap/assets/css/bootstrap-responsive.css
  --------------------------------------------- */

.one-third,
.two-thirds {
  float: left;
  margin-bottom: 10px;
  margin-left: 2.564102564102564%;
  padding: 20px;
}

.one-third {
  width: 31.623931623931625%;
  padding: 20px;
}

.two-thirds {
  width: 65.81196581196582%;
  padding: 20px;
}

.first {
  clear: both;
  margin-left: 0;
}


@media screen and (max-width: 768px) {

  #what-we-do-section {
    padding: 0 20px !important;
  }

}