.what-we-do-logos {
  width: 65px;
  height: 65px;
  margin: 40px 0;
}

.what-we-do-paragraphs {
  margin: 20px 0;
}


@media screen and (max-width: 768px) {

  #what-we-do-section {
    padding: 0 20px !important;
  }

}