#contact-us-section {
  height: 100vh !important;
  padding: 1px;
}

#contact-us-border {
  padding: 20px;
  text-align: center;
}

.modal-button {
  width: 300px;
  border-radius: 0;
  background-color: #000;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin: auto;
}


@media screen and (max-width: 768px) {

  #contact-us-section {
    padding: 0 20px;
  }

  .modal-button {
    width: auto;
  }

}