.footer {

  background: #fff;
  width: 100%;
  margin-bottom: 30px;

  p {
    color: #000;
    font-size: 0.9em;
    line-height: 1.5em;
    margin: auto;
    max-width: 35em;
    text-align: center;
  }
}


img#footer-logo {
    width: 20px;
    margin-right: 20px;
}